
html {
    background-color:white;
    background-image: url("abstract-gear-wheel-mechanism-background_41981-1136.jpg");
    background-size: 100%;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
  
  a {
    color: white;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: black
  }
  
  #icon {
    margin-left: 44%;
    height: 220px;
  }
  
  
  /* body{
    background-color: green;
  } */
  .center-box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    border-radius: 40px;
    width:300px;
    height:330px;
    text-align: center;
    color:black;
  }
  .text-field{
    padding: 10px 30px;
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 12pt;
    color: black;
  }
  
  
  .btn-style{
    padding: 10px 30px;
    border:1px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
  }
  .btn-style:hover{
    background-color: white;
    color:black;
  }
  .an-btn{
    /* margin-top: 10px;
    border: 0;
    background-color: whi;
    color:black;
    font-size: 11pt; */
    margin-top: 10px;
    padding: 10px 30px;
    border:1px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
  }
  #register-div{
    display:none;
  }
  #result-box{
    display:none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 16pt;
    color: black;
  }
  